/*html5 & css3 (responsive web design) mobile feed app*/

/*resets*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,nav,section,summary,time,mark,audio,video{border:0;margin:0;padding:0;}
article,aside,canvas,figure,figure img,figcaption,hgroup,footer,header,main,nav,section,audio,video{display:block;}
a img{border:0;}
figure{position:relative;}
figure img{width:100%;}
figcaption{display:none;}

/*typography presets*/
body{color:#39444a;font:normal 100%/1.5 'Open Sans',Helvetica,Arial,sans-serif;}
h1{font-size:68px;line-height:72px;letter-spacing:-1px;}
h2{font-size:42px;line-height:48px;}
h3{font-size:26px;line-height:36px;}

/*global styles*/
a {color:#39444a;}
#nav {list-style-type:none;margin:5px auto 0 auto;}
#nav li {display:inline;padding:0 5px;}
#nav li a {background-color:#C0C0C0;color:#000;padding:3px 10px;text-decoration:none;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
#nav li a:hover {background:#205c90;color:#fff;border-color:#205c90;}
#nav li:nth-child(1) {padding-left:0;}
.settings-icon:before {content: "\2699\ ";font-size:1.2em}
div#main {min-height:260px;height:auto!important;height:260px;}
label {display:none;}
.settings label {display:block;}
.settings input[type="text"] {width:75%;}
footer {border-top:1px solid #9fb3bd;}
footer p {margin:15px 0 0;}

/*quick fade on target to attract user attention*/
:target {-moz-animation: target-fade 3s 1;-webkit-animation: target-fade 3s 1;}
@-webkit-keyframes target-fade {
    0% { background-color: rgba(255,255,153,.5); color: rgba(255, 255, 153, .5);}
    100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
    0% { background-color: rgba(255,255,153,.5); color: rgba(255, 255, 153, .5);}
    100% { background-color: rgba(0,0,0,0); }
}

/*laptop & desktop screen view [default]: target of 768px to 1211px, em conversions based on 16px base font size set in body declaration*/
body {background:#e4e8e9 url("../img/bg-texture-greyboard.jpg") repeat left top;width:648px;-webkit-tap-highlight-color:#ff0;padding:10px 60px 0;}
#doc > div {float:left;width:348px;margin-right:24px;margin-bottom:24px;background:#fff;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;padding:24px;}
#doc > aside {float:right;width:228px;margin-bottom:24px;}
#doc > aside:first-of-type {margin-bottom:0;}
#doc > aside img {width:218px;background-color:#FFF;border:1px solid #DDD;-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);padding:4px;}
#doc > footer {clear:both;float:none;width:100%;margin-top:24px;}
#doc > header > h1 {font-size:42px;line-height:48px;}
h2,aside > header > h1 {font-size:16px;line-height:24px;}
h1,h2,h3,h4,h5,h6 {-moz-text-shadow:#FF0 0 5px 5px;-webkit-text-shadow:#FFF 0 1px;text-shadow:rgba(255,255,255,1) 1px 1px 0;}
aside,div {margin-top:24px;}
section {margin-top:0;}
section > p:first-child,div > p:first-child {margin:0;}
ul {list-style-type:square;list-style-position:outside;margin:24px 0 0 16px;}
ol {list-style-type:number;list-style-position:outside;margin:24px 0 0 16px;}
p {margin:5px 0;}
::selection,::-moz-selection {background:#ff0;}
img::selection,img::-moz-selection {background:transparent;}

/*large screen view: target of 1212px, em conversions based on 16px base font size set in body declaration*/
/*@media only screen and (min-width: 1212px) {*/
@media only screen and (min-width: 75.750em) {
body {width:1068px;position:relative;padding:10px 72px 0;}
#doc > div {width:600px;margin-bottom:24px;}
#doc > aside {width:396px;}
#doc > aside img {width:386px;}
}

/*small tablet & large phone screen view: target of 767px to 480px, em conversions based on 16px base font size set in body declaration*/
/*@media only screen and (max-width: 767px) and (min-width: 480px) {*/
@media only screen and (max-width: 47.938em) and (min-width: 30.000em) {
body {width:396px;-webkit-text-size-adjust:100%;padding:10px 42px 0;}
#doc > div,#doc > footer,#doc > aside {float:none;clear:none;}
#doc {margin-top:10px;}
#doc > div {width:348px;margin-top:15px;}
#doc > aside img {width:386px;}
#doc > header > h1,#nav {text-align:center;}
}

/*phone screen view: target of 320px, em conversions based on 16px base font size set in body declaration*/
/*@media only screen and (max-width: 479px) {*/
@media only screen and (max-width: 29.938em) {
body {width:290px;-webkit-text-size-adjust:100%;font-size:13px;line-height:18px;margin:0 auto;padding:10px;}
#doc {margin-top:0;}
#doc > div {width:255px;margin-bottom:18px;padding:18px;}
#doc > header > h1 {font-size:26px;line-height:36px;text-align:center;}
#doc > div > header > h2 {font-size:16px;line-height:24px;}
#doc > div,#doc > footer,#doc > aside {float:none;clear:none;}
#doc > aside img {display:none;}
p,section,aside,ul {margin-top:18px;}
#nav{text-align:center;}
}
