<section id="browse" role="region" aria-labelledby="browse">
<header>
  <h2 property="alternativeHeadline">Browse the latest items...</h2>
</header>
<ul id="viewObjects"></ul>
<script src="./meta/scripts/feednami-client-v1.1.js"></script>
<script>
feednami.setPublicApiKey('ADD-YOUR-FEEDNAMI-PUBLIC-API-KEY');
//see https://toolkit.sekando.com/docs/en/setup/hostnames and https://toolkit.sekando.com/docs/en/feednami for details
feednami.loadGoogleFormat(feedUrl, result => {
  const container = document.getElementById("viewObjects");
  if (result.error) {
    console.log(result.error);
    container.innerHTML = '<li>No items available. <br /><a href="#set">Set the feed and site for this app</a>.</li>';
    //container.innerHTML = '<li>No feeds available. <a href="'+ siteUrl +'">View full library web site</a>.</li>';
  } else {
    const entries = result.feed.entries;
    for (const entry of entries) {
      console.log(entry.title);
      console.log(entry.contentSnippet);
      const li = document.createElement('li');
      li.innerHTML = `<article><h2><a href="${entry.link}">${entry.title}</a></h2><p>${entry.content}</p></article>`;
      container.appendChild(li);
    }
  }
});
</script>
</section>
