
<section id="home" role="region" aria-labelledby="home">
<header>
  <h2 property="headline">Latest items from our feed</h2>
</header>
<ul id="listView"></ul>
<script>
const container = document.getElementById("listView");
const source = `https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22${encodeURIComponent(feedUrl)}%22%20limit%203&format=json&diagnostics=true&callback=`;
const options = {cache:'reload', method:'GET'};

getFeed(source, options);

function getFeed(url, options) {
  fetch(url, options).then(response => {
    if (response.headers.get("content-type").includes("application/json")) {
      return response.json();
    } else {
      throw new TypeError(`Response from "${url}" has unexpected "content-type"`);
    }
  }).then(data => {
    console.log(`JSON from "${url}" parsed successfully!`);
    console.log(data);
    for (i = 0; i < data.query.results.item.length; i++) {
      const item = data.query.results.item[i];
      const li = document.createElement('li');
      li.innerHTML = `<article><h2><a href="${item.link}">${item.title}</a></h2><p>${item.description}</p></article>`;
      container.appendChild(li);
    }
  }).catch(error => {
    console.error(error.message);
    const container = document.getElementById("listView");
    container.innerHTML = '<li>No items available. <br /><a href="#set">Set the feed and site for this app</a>.</li>';
  });
}
</script>
</section>
